{% extends 'base.html' %}

{% block content %}
<img src="{{user.image_url}}" alt="{{ user.first_name }}">
<h1>{{ user.first_name }} {{user.last_name }}</h1>
<a href="/users/{{user.id}}/edit"><button>Edit</button></a>
<form action="/users/{{user.id}}/delete" method="POST">
  <button>Delete</button>
</form>

<ul>Posts
  {% for post in user.posts %}
  <li><a href="/posts/{{post.id}}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<a href="/users/{{user.id}}/posts/new"><button>Add Post</button></a>
{% endblock %}